.products{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.img_pro>img{
  width: 200px;
  height: 200px;


}
.img_pro{
  background-color: gray;
  border-radius: 5px;
    margin: 10px;
      padding: 10px;
}
.pagination{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.pagination>span{

  margin: 10px;
  border: 1px solid black; 
  font-size: xx-large;
  cursor: pointer;
}

.selected{
  background-color: gray;
}